<div class="container-fluid">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item active">
        Notify Dashboard
      </li>
    </ol>
  </nav>

  <div class="row mb-4">
    <%= link_to "Manage Notify Connections", manage_notify_connections_path, class: "btn btn-primary" %>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Notify Messages</h4>
    </div>

    <div class="card-body p-0">
      <table class="table table-striped table-bordered mb-0">
        <thead>
          <tr>
            <th>Notification ID</th>
            <th>Notification Type</th>
            <th>Notification Status</th>
            <th>Origin</th>
            <th>Actor</th>
            <th>Object</th>
          </tr>
        </thead>

        <tbody>
          <% @notifications.each do |notification| %>
            <tr>
              <td><%= notification.id %></td>

              <td>
                <%= notification.request_type %>
              </td>

              <td>
                <%= notification.status %>
              </td>

              <td>
                <%= ENV.fetch("APPLICATION_URL") %>
              </td>

              <td>
                <%= notification.user.display_name %>
              </td>

              <td>
                <%= notification.work_id %>
              </td>
            </tr>
          <% end %>

          <% if @notifications.blank? %>
            <tr>
              <td colspan="5" class="text-center">
                No notifications found
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="card-footer text-muted">
      Showing latest 1000 notifications
    </div>
  </div>

</div>